* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	padding: 0 200px;
}

.title {
	padding: 10px;
    text-align: center;
    font-size: 40px;
    color: rgb(209, 38, 104);
}

.testo {
	padding: 10px;
    text-align: center;
    font-size: 20px;
    color: black;
}





.clearfix::after{
	content: '';
	display: table;
	clear: both;
}




.col_first {
	width: 1500px;
    height: 120px;
	margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 40px;


}

.col_second {
	width: 1500px;
    height: 120px;
	margin-right: 5%;


}
.card {
    background-color: black;
    float: left;
    color: white;
    text-align: left;
    width: 400px;
    height: 110px;
	margin-right: 5%;
    box-shadow: 5px 5px 5px #dedede;
}



.card img {
	height: 110px;
	margin-bottom: 16px;
    float: left;
}

